* {
    margin: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    width: 375px;
}

img {
    border-radius: 10px;
    width: 90%;
    display: inline-block;
    margin: 20px auto 30px auto;
}

h1 {
    font-weight: 700;
    margin: auto auto 20px auto;
    width: 80%
}

h2 {
    font-weight: 400;
    margin: auto auto 20px auto;
    padding-bottom: 50px;
    width: 80%
}

.palette {
    font-size: 0.7em;
    background-color: hsl(0, 0%, 100%);
    width: 95%;
    margin: 5% auto;
    border-radius: 10px;
}